<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Heart Disease Prediction</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body>

    <h1 class="m-5 text-monospace">Heart disease Prediction</h1>
    <div class="mt-5 row">
        <div class="col">

            <img class="mt-1 img-fluid" src="../static/assets/heart-image.jpg" alt="Responsive image">

        </div>
        <div class="col-6">
            <div class="card" style="background: #ffffff">
                <h2 class="card-header  text-monospace">Informations</h2>
                <div class="card-body">

                    <!--   FORM    -->
                    <form class="needs-validation" name="informationsForm" role="form" novalidate>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="selectGender">Gender</label>
                                <select class="custom-select" id="selectGender" name="gender" required>
                                    <option value="">Gender</option>
                                    <option value="1">Female</option>
                                    <option value="0">Male</option>
                                </select>
                                <div class="invalid-feedback">Please provide a valid value.</div>
                                <div class="valid-feedback">Looks good!</div>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputAge">Age</label>
                                <input type="text" class="form-control" id="inputAge" name="age">
                                <small class="form-text text-muted">From 0 to 99</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <fieldset class="form-group col-md-4">
                                <legend class="col-form-label pt-0">Profil</legend>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="radioSmoker"
                                        id="radioSmoker0" value="0" required>
                                    <label class="custom-control-label" for="radioSmoker0">Nonsmoker</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="radioSmoker"
                                        id="radioSmoker1" value="1" required>
                                    <label class="custom-control-label" for="radioSmoker1">Smoker</label>
                                </div>
                                <div class="invalid-feedback">Please provide a valid value.</div>
                                <div class="valid-feedback">Ok</div>
                            </fieldset>
                            <div class="form-group col-md-2">
                                <label for="inputCigsByDay">Cigs by Day</label>
                                <input type="text" class="form-control" value="0" id="inputCigsByDay"
                                    name="inputCigsByDay">
                            </div>
                        </div>
                        <div class="form-row">

                            <fieldset class="form-group col-md-4">
                                <legend class="col-form-label pt-0">On blood medications</legend>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="radioBloodMeds"
                                        id="radioBloodMeds0" value="0" required>
                                    <label class="custom-control-label" for="radioBloodMeds0">No</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="radioBloodMeds"
                                        id="radioBloodMeds1" value="1" required>
                                    <label class="custom-control-label" for="radioBloodMeds1">Yes</label>
                                </div>
                                <div class="invalid-feedback">Please provide a valid value.</div>
                                <div class="valid-feedback">Ok</div>
                            </fieldset>
                        </div>

                        <div class="form-row">

                            <fieldset class="form-group col-md-4">
                                <legend class="col-form-label pt-0">Prevalent Stroke</legend>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="radioPrevStroke"
                                        id="radioPrevStroke0" value="0" required>
                                    <label class="custom-control-label" for="radioPrevStroke0">No</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="radioPrevStroke"
                                        id="radioPrevStroke1" value="1" required>
                                    <label class="custom-control-label" for="radioPrevStroke1">Yes</label>
                                </div>
                                <div class="invalid-feedback">Please provide a valid value.</div>
                                <div class="valid-feedback">Ok</div>
                            </fieldset>
                            <fieldset class="form-group col-md-4">
                                <legend class="col-form-label pt-0">Prevalent Hyp</legend>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="radioPrevHyp"
                                        id="radioPrevHyp0" value="0" required>
                                    <label class="custom-control-label" for="radioPrevHyp0">No</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="radioPrevHyp"
                                        id="radioPrevHyp1" value="1" required>
                                    <label class="custom-control-label" for="radioPrevHyp1">Yes</label>
                                </div>
                                <div class="invalid-feedback">Please provide a valid value.</div>
                                <div class="valid-feedback">Ok</div>
                            </fieldset>
                            <fieldset class="form-group col-md-4">
                                <legend class="col-form-label pt-0">Diabetes</legend>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="radioDiabetes"
                                        id="radioDiabetes0" value="0" required>
                                    <label class="custom-control-label" for="radioDiabetes0">No</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="radioDiabetes"
                                        id="radioDiabetes1" value="1" required>
                                    <label class="custom-control-label" for="radioDiabetes1">Yes</label>
                                </div>
                                <div class="invalid-feedback">Please provide a valid value.</div>
                                <div class="valid-feedback">Ok</div>
                            </fieldset>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-2">
                                <label for="inputTotChol">TotChol</label>
                                <input type="text" class="form-control" id="inputTotChol">
                                <small class="form-text text-muted">mg/dL</small>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputGlucose">Glucose</label>
                                <input type="text" class="form-control" id="inputGlucose">
                                <small class="form-text text-muted">mg/dL</small>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputSysBP">sysBP</label>
                                <input type="text" class="form-control" id="inputSysBP">
                                <small class="form-text text-muted">mmHg</small>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="inputDiaBP">diaBP</label>
                                <input type="text" class="form-control" id="inputDiaBP">
                                <small class="form-text text-muted">mmHg</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label for="inputBMI">BMI</label>
                                <input type="text" placeholder="ex : 26.09" class="form-control" id="inputBMI">
                                <small class="form-text text-muted">Body Mass Index calculated as: Weight (kg) /
                                    Height(meter-squared)</small>
                            </div>

                            <div class="form-group col-md-2 offset-md-1">
                                <label for="inputHeartRate">Heart Rate</label>
                                <input type="text" class="form-control" id="inputHeartRate">
                                <small class="form-text text-muted">Beats/Min (Ventricular)</small>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block" value="Submit">Predict</button>
                        <button type="reset" class="btn btn-outline-secondary btn-lg btn-block">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col pr-4">
            <div class="card" style="background: #ffffff">
                <h2 class="card-header  text-monospace">Result</h2>
                <div class="card-body"> prediction : good </div>
            </div>

            <div id="app">
                <p>{{ message }}</p>
                <button v-on:click="reverseMessage">Reverse Message</button>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

        <script src="../static/index.js"></script>

</body>


</html>